*~
*.Debug
*.la
*.lo
*.o
*.pc
*.Release
*.spec
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
moc_*
rc.syd
tests/sycapture
tests/syd
tests/synodetest
tests/syplay
tests/sytone
