*~
*.buildinfo
*.changes
*.deb
*.ddeb
*.dsc
*.Debug
*.la
*.lo
*.o
*.pc
*.Release
*.rpm
*.spec
*.tar.gz
*.tar.xz
.deps
.libs
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
moc_*
rc.syd
debian/changelog
debian/control
tests/codeinverttest
tests/syastringtest
tests/sycapture
tests/syd
tests/syethmonitortest
tests/sygpiotest
tests/syinterfacestest
tests/symetertest
tests/synodetest
tests/syplay
tests/sytone
