#!/usr/bin/make -f

build:	
	dh_update_autotools_config
	dh_autoreconf
	 ./configure --prefix=/usr --libdir=/usr/lib
	make $(DEBUILD_MAKE_ARGS)

binary:	
	dh_testroot
	dh_prep
	dh_auto_install
	dh_installchangelogs ChangeLog

#
# switchyard6
#
	mkdir -p debian/switchyard6/usr/lib
	mv debian/tmp/usr/lib/libSwitchyard6.so.* debian/switchyard6/usr/lib/
	mkdir -p debian/switchyard6/usr/share/doc/switchyard6
	cp AUTHORS debian/switchyard6/usr/share/doc/switchyard6/
	cp ChangeLog debian/switchyard6/usr/share/doc/switchyard6/
	cp NEWS debian/switchyard6/usr/share/doc/switchyard6/
	cp README debian/switchyard6/usr/share/doc/switchyard6/
	cp conf/switchyard.conf-example debian/switchyard6/usr/share/doc/switchyard6/
#
# switchyard6-dev
#
	mkdir -p debian/switchyard6-dev/usr/include
	mv debian/tmp/usr/include/sy6 debian/switchyard6-dev/usr/include/
	mkdir -p debian/switchyard6-dev/usr/lib
	mv debian/tmp/usr/lib/*.a debian/switchyard6-dev/usr/lib/
	mkdir -p debian/switchyard6-dev/usr/share
	mv debian/tmp/usr/lib/pkgconfig debian/switchyard6-dev/usr/share/

	dh_strip_nondeterminism
	dh_compress
	dh_fixperms
	dh_missing
	dh_dwz
	dh_strip
	dh_makeshlibs
	dh_shlibdeps
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

%:	
	dh $@
